{
  "openapi": "3.1.0",
  "info": {
    "title": "Loops OpenAPI Spec",
    "description": "This is the OpenAPI Spec for the [Loops API](https://loops.so/docs/api).",
    "version": "1.21.1"
  },
  "servers": [
    {
      "url": "https://app.loops.so/api"
    }
  ],
  "tags": [
    {
      "name": "API key"
    },
    {
      "name": "Audience segments",
      "description": "View audience segments"
    },
    {
      "name": "Campaigns",
      "description": "Create and manage email campaigns"
    },
    {
      "name": "Campaign groups",
      "description": "Organize campaigns into groups"
    },
    {
      "name": "Components",
      "description": "View email components"
    },
    {
      "name": "Configuration",
      "description": "View configuration settings"
    },
    {
      "name": "Contacts",
      "description": "Manage contacts in your audience"
    },
    {
      "name": "Contact properties",
      "description": "Manage contact properties"
    },
    {
      "name": "Email messages",
      "description": "Manage email message content for campaigns"
    },
    {
      "name": "Events",
      "description": "Trigger workflows with events"
    },
    {
      "name": "Event patterns",
      "description": "View workflow event patterns"
    },
    {
      "name": "Mailing lists",
      "description": "View mailing lists"
    },
    {
      "name": "Themes",
      "description": "View email themes"
    },
    {
      "name": "Transactional emails",
      "description": "Create, manage, and send transactional emails"
    },
    {
      "name": "Transactional groups",
      "description": "Organize transactional emails into groups"
    },
    {
      "name": "Uploads",
      "description": "Upload image assets"
    },
    {
      "name": "Workflows",
      "description": "View and mutate workflow graphs"
    },
    {
      "name": "Workflow nodes",
      "description": "View and mutate workflow nodes"
    }
  ],
  "paths": {
    "/v1/api-key": {
      "get": {
        "tags": ["API key"],
        "summary": "API key",
        "description": "Test your API key and get team context.",
        "x-mint": {
          "href": "/api-reference/api-key"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "examples": [true]
                    },
                    "teamName": {
                      "type": "string",
                      "description": "The name of the team the API key belongs to.",
                      "examples": ["Company name"]
                    }
                  },
                  "required": ["success", "teamName"]
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "examples": [false]
                    },
                    "message": {
                      "type": "string",
                      "examples": ["Invalid API key"]
                    },
                    "error": {
                      "type": "string",
                      "deprecated": true,
                      "examples": ["Invalid API key"]
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/contacts/create": {
      "post": {
        "tags": ["Contacts"],
        "summary": "Create a contact",
        "description": "Add a contact to your audience.",
        "x-mint": {
          "href": "/api-reference/create-contact",
          "content": "<Tip>If you want to \"update or create\" contacts, consider using the [Update a contact](https://loops.so/docs/api-reference/update-contact) endpoint instead.</Tip>"
        },
        "requestBody": {
          "description": "You can add custom contact properties as keys in this request (of type `string`, `number`, `boolean` or `date`. [See available date formats](https://loops.so/docs/contacts/properties#dates)). Make sure to create the properties in Loops before using them in API calls.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful create.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (e.g. invalid email address).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactFailureResponse"
                }
              }
            }
          },
          "405": {
            "description": "Wrong HTTP request method."
          },
          "409": {
            "description": "Email or `userId` already exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactFailureResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/contacts/update": {
      "put": {
        "tags": ["Contacts"],
        "summary": "Update a contact",
        "description": "Update a contact by `email` or `userId`. You must provide one of these parameters.\n\nIf you want to update a contact's email address, the contact will first need a `userId` value. You can then make a request containing the `userId` field along with an updated email address.\n\nThis endpoint will create a contact if a matching contact does not already exist in your audience.\n\nProvide either `email` or `userId` to identify the contact you want to update. If both are provided, the system will look for a contact with either a matching `email` or `userId` value. If a contact is found for one of the values (e.g. `email`), the other value (e.g. `userId`) will be updated. If a contact is not found, a new contact will be created using both `email` and `userId` values.",
        "x-mint": {
          "href": "/api-reference/update-contact",
          "content": "Update a contact by `email` or `userId`. You must provide one of these parameters.\n\nIf you want to update a contact's email address, the contact will first need a `userId` value. You can then make a request containing the `userId` field along with an updated email address.\n\nThis endpoint will create a contact if a matching contact does not already exist in your audience.\n\n<Note>Provide either `email` or `userId` to identify the contact you want to update. If both are provided, the system will look for a contact with either a matching `email` or `userId` value. If a contact is found for one of the values (e.g. `email`), the other value (e.g. `userId`) will be updated. If a contact is not found, a new contact will be created using both `email` and `userId` values.</Note>",
          "metadata": {
            "sidebarTitle": "Update a contact",
            "description": "Update or create a contact."
          }
        },
        "requestBody": {
          "description": "You can add custom contact properties as keys in this request (of type `string`, `number`, `boolean` or `date`. [See available date formats](https://loops.so/docs/contacts/properties#dates)). Make sure to create the properties in Loops before using them in API calls.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful update.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (e.g. `email` or `userId` are missing).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactFailureResponse"
                }
              }
            }
          },
          "405": {
            "description": "Wrong HTTP request method."
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/contacts/find": {
      "get": {
        "tags": ["Contacts"],
        "summary": "Find a contact",
        "description": "Search for a contact by `email` or `userId`. Only one parameter is allowed.",
        "x-mint": {
          "href": "/api-reference/find-contact",
          "content": "Search for a contact by `email` or `userId`. Only one parameter is allowed.",
          "metadata": {
            "description": "Find a contact by email address or user ID."
          }
        },
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": false,
            "description": "Email address (URI-encoded)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of contacts (or an empty array if no contact was found). Contact objects will include any custom properties.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contact"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (e.g. invalid email address).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactFailureResponse"
                }
              }
            }
          },
          "405": {
            "description": "Wrong HTTP request method."
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/contacts/delete": {
      "post": {
        "tags": ["Contacts"],
        "summary": "Delete a contact",
        "description": "Delete a contact by `email` or `userId`.",
        "x-mint": {
          "href": "/api-reference/delete-contact",
          "content": "Delete a contact by `email` or `userId`.",
          "metadata": {
            "sidebarTitle": "Delete a contact",
            "description": "Delete a contact by email address or user ID."
          }
        },
        "requestBody": {
          "description": "Include only one of `email` or `userId`.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactDeleteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful delete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactDeleteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (e.g. `email` and `userId` are both provided).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactFailureResponse"
                }
              }
            }
          },
          "404": {
            "description": "Contact not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactFailureResponse"
                }
              }
            }
          },
          "405": {
            "description": "Wrong HTTP request method."
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/contacts/suppression": {
      "get": {
        "tags": ["Contacts"],
        "summary": "Get suppression status for a contact",
        "description": "Retrieve suppression status and removal quota for a contact by `email` or `userId`. Include only one query parameter.",
        "x-mint": {
          "href": "/api-reference/check-contact-suppression",
          "metadata": {
            "title": "Check contact suppression status",
            "sidebarTitle": "Check suppression",
            "description": "Check if a contact is suppressed by email address or user ID."
          }
        },
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": false,
            "description": "Email address (URI-encoded)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactSuppressionStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (e.g. invalid email address).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactFailureResponse"
                }
              }
            }
          },
          "404": {
            "description": "Contact not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactFailureResponse"
                }
              }
            }
          },
          "405": {
            "description": "Wrong HTTP request method."
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      },
      "delete": {
        "tags": ["Contacts"],
        "summary": "Remove a contact from suppression list",
        "description": "Remove a suppressed contact from the suppression list by `email` or `userId`. Include only one query parameter.",
        "x-mint": {
          "href": "/api-reference/remove-contact-suppression",
          "metadata": {
            "title": "Remove contact from suppression",
            "sidebarTitle": "Remove suppression",
            "description": "Remove suppression for a contact by email address or user ID."
          }
        },
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": false,
            "description": "Email address (URI-encoded)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful removal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactSuppressionRemoveResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (e.g. contact is not suppressed).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactFailureResponse"
                }
              }
            }
          },
          "404": {
            "description": "Contact not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactFailureResponse"
                }
              }
            }
          },
          "405": {
            "description": "Wrong HTTP request method."
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/contacts/properties": {
      "post": {
        "tags": ["Contact properties"],
        "summary": "Create a contact property",
        "description": "Create a custom contact property.",
        "x-mint": {
          "href": "/api-reference/create-contact-property",
          "metadata": {
            "sidebarTitle": "Create property"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactPropertyCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful create.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactPropertySuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (e.g. invalid type).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactPropertyFailureResponse"
                }
              }
            }
          },
          "405": {
            "description": "Wrong HTTP request method."
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      },
      "get": {
        "tags": ["Contact properties"],
        "summary": "List contact properties",
        "description": "Retrieve a list of your account's contact properties.<br>Use the `list` parameter to query \"all\" or \"custom\" properties.",
        "x-mint": {
          "href": "/api-reference/list-contact-properties",
          "metadata": {
            "sidebarTitle": "List properties",
            "description": "Retrieve a list of your account's contact properties."
          }
        },
        "parameters": [
          {
            "name": "list",
            "in": "query",
            "required": false,
            "description": "`all` (default) or `custom` (only custom contact properties)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContactProperty"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Wrong HTTP request method."
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/dedicated-sending-ips": {
      "get": {
        "tags": ["Configuration"],
        "summary": "List dedicated sending IP addresses",
        "description": "Retrieve a list of Loops' dedicated sending IP addresses.\n\nThis endpoint is provided for the rare instances where you may need to whitelist our sending IPs. Please note that this list is subject to change and will not include shared IPs used for sending mail.\n\nUnless you are sure you need this and are comfortable watching for changes, we strongly recommend you _do not_ whitelist these IPs.",
        "x-mint": {
          "href": "/api-reference/dedicated-sending-ips",
          "metadata": {
            "description": "Retrieve a list of Loops' dedicated sending IP addresses.",
            "sidebarTitle": "List sending IPs"
          },
          "content": "<Warning>This endpoint is provided for the rare instances where you may need to whitelist our sending IPs. Please note that this list is subject to change and will not include shared IPs used for sending mail. Unless you are sure you need this and are comfortable watching for changes, we strongly recommend you _do not_ whitelist these IPs.</Warning>"
        },
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "Returns an array of IP address strings.",
                  "items": {
                    "type": "string",
                    "description": "IP address",
                    "examples": ["52.21.45.123"]
                  },
                  "example": ["52.21.45.123", "52.21.45.124", "52.21.45.125"]
                }
              }
            }
          },
          "405": {
            "description": "Wrong HTTP request method."
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/lists": {
      "get": {
        "tags": ["Mailing lists"],
        "summary": "List mailing lists",
        "description": "Retrieve a list of your account's mailing lists.",
        "x-mint": {
          "href": "/api-reference/list-mailing-lists"
        },
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MailingList"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Wrong HTTP request method."
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/events/send": {
      "post": {
        "tags": ["Events"],
        "summary": "Send an event",
        "description": "Send events to trigger workflows.",
        "x-mint": {
          "href": "/api-reference/send-event",
          "content": "<Note>Provide either an `email` or `userId` value or both to identify the contact. If both are provided, the system will look for a contact with either a matching `email` or `userId` value. If a contact is found for one of the values (e.g. `email`), the other value (e.g. `userId`) will be updated. If a contact is not found, a new contact will be created using both `email` and `userId` values.</Note>"
        },
        "requestBody": {
          "description": "Provide either `email` or `userId` to identify the contact ([read more](https://loops.so/docs/api-reference/send-event#body)).<br>Event properties will be available in emails sent by this event. Values of properties can be of type `string`, `number`, `boolean` or `date` ([see allowed date formats](https://loops.so/docs/events/properties#important-information-about-event-properties)).<br>Make sure to create the properties in Loops before using them in API calls.<br>You can add contact properties as keys in this request (of type `string`, `number`, `boolean` or `date` ([see available date formats](https://loops.so/docs/contacts/properties#dates))).",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventRequest"
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "in": "header",
            "name": "Idempotency-Key",
            "description": "Include a unique ID for this request (maximum 100 characters) to avoid duplicate emails.\n\nThe value should be a string of up to 100 characters and should be unique for each request. We recommend using V4 UUIDs or some other method with enough guaranteed entropy to avoid collisions during a 24 hour window.\n\nThis endpoint will return a `409 Conflict` response if the idempotency key has been used in the previous 24 hours.",
            "schema": {
              "type": "string",
              "maxLength": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful send.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (e.g. `eventName` is missing).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventFailureResponse"
                }
              }
            }
          },
          "405": {
            "description": "Wrong HTTP request method."
          },
          "409": {
            "description": "Idempotency key has been used.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdempotencyKeyFailureResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/transactional": {
      "post": {
        "tags": ["Transactional emails"],
        "summary": "Send a transactional email",
        "description": "Send a transactional email to a contact.<br>Please [email us](mailto:help@loops.so) to enable attachments on your account before using them with the API.\n\nTo set dynamic Subject, From, Reply to, CC, BCC email header fields, add data variables to those fields in the editor, then include data for each variable in the API request. Read our transactional email guide for more details.",
        "x-mint": {
          "metadata": {
            "description": "Send a transactional email.",
            "sidebarTitle": "Send transactional"
          },
          "href": "/api-reference/send-transactional-email",
          "content": "Send a transactional email, including optional data variables, to a single recipient.\n\nTo set dynamic Subject, From, Reply to, CC, BCC email header fields, add data variables to those fields in the editor, then include data for each variable in the API request. Read our [transactional email guide](/docs/transactional) for more details.\n\nTo send a test preview of a transactional email, use the [Preview email message](/api-reference/preview-email-message) endpoint.\n\n<Note>Please [email us](mailto:help@loops.so) to enable attachments on your account before using them with the API.</Note>"
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionalRequest"
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "in": "header",
            "name": "Idempotency-Key",
            "description": "Include a unique ID for this request (maximum 100 characters) to avoid duplicate emails.\n\nThe value should be a string of up to 100 characters and should be unique for each request. We recommend using V4 UUIDs or some other method with enough guaranteed entropy to avoid collisions during a 24 hour window.\n\nThis endpoint will return a `409 Conflict` response if the idempotency key has been used in the previous 24 hours.",
            "schema": {
              "type": "string",
              "maxLength": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful send.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionalSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (e.g. transactional email is not published).",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/TransactionalSendFailureResponse"
                    },
                    {
                      "$ref": "#/components/schemas/TransactionalFailure2Response"
                    },
                    {
                      "$ref": "#/components/schemas/TransactionalFailure3Response"
                    },
                    {
                      "$ref": "#/components/schemas/TransactionalFailure4Response"
                    },
                    {
                      "$ref": "#/components/schemas/TransactionalFailure5Response"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Transactional email not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionalFailure3Response"
                }
              }
            }
          },
          "405": {
            "description": "Wrong HTTP request method."
          },
          "409": {
            "description": "Idempotency key has been used.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdempotencyKeyFailureResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      },
      "get": {
        "deprecated": true,
        "tags": ["Transactional emails"],
        "summary": "List transactional emails",
        "description": "Get a list of published transactional emails.",
        "x-mint": {
          "href": "/api-reference/list-transactional-emails-v1",
          "content": "<Warning>This endpoint is deprecated. Use [List transactional emails](/api-reference/list-transactional-emails) instead.</Warning>"
        },
        "parameters": [
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "description": "How many results to return in each request. Must be between 10 and 50. Default is 20.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "A cursor, to return a specific page of results. Cursors can be found from the `pagination.nextCursor` value in each response.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTransactionalsResponse"
                }
              }
            }
          },
          "405": {
            "description": "Wrong HTTP request method."
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/transactional-emails": {
      "get": {
        "tags": ["Transactional emails"],
        "summary": "List transactional emails",
        "description": "Retrieve a paginated list of transactional emails, most recently created first.",
        "x-mint": {
          "href": "/api-reference/list-transactional-emails",
          "metadata": {
            "sidebarTitle": "List transactionals"
          }
        },
        "parameters": [
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "description": "How many results to return in each request. Must be between 10 and 50. Default is 20.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "A cursor to return a specific page of results. Cursors can be found from the `pagination.nextCursor` value in each response.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTransactionalsResourceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid `perPage` value.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionalFailureResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key or content API not enabled for this team."
          },
          "405": {
            "description": "Wrong HTTP request method."
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      },
      "post": {
        "tags": ["Transactional emails"],
        "summary": "Create a transactional email",
        "description": "Create a new transactional email. An empty draft email message is created automatically and its `draftEmailMessageId` is returned. Use the `POST /v1/email-messages/{emailMessageId}` endpoint along with the returned `draftEmailMessageContentRevisionId` to set subject, sender, preview text, and LMX content, then call `POST /v1/transactional-emails/{transactionalId}/publish` to publish the draft.",
        "x-mint": {
          "href": "/api-reference/create-transactional-email",
          "content": "This endpoint creates a transactional email and an empty draft email message in one step.\n\nUse the returned `draftEmailMessageId` and `draftEmailMessageContentRevisionId` when calling the [Update email message](/api-reference/update-email-message) endpoint to set subject, sender, preview text, and LMX content\n\nCall [Publish transactional email draft](/api-reference/publish-transactional-email) to publish.",
          "metadata": {
            "sidebarTitle": "Create transactional",
            "description": "Create a new transactional email and its draft email message, ready for editing, previewing, and publishing through the Loops API."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTransactionalRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transactional email created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionalDraftResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or no sending domain configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionalFailureResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key or content API not enabled for this team."
          },
          "405": {
            "description": "Wrong HTTP request method."
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/transactional-emails/{transactionalId}": {
      "parameters": [
        {
          "name": "transactionalId",
          "in": "path",
          "required": true,
          "description": "The ID of the transactional email.",
          "schema": {
            "type": "string",
            "examples": ["cll42l54f20i1la0lfooe3z12"]
          }
        }
      ],
      "get": {
        "tags": ["Transactional emails"],
        "summary": "Get a transactional email",
        "description": "Retrieve a single transactional email by ID.",
        "x-mint": {
          "href": "/api-reference/get-transactional-email",
          "metadata": {
            "sidebarTitle": "Get transactional"
          }
        },
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionalResource"
                }
              }
            }
          },
          "400": {
            "description": "Invalid `transactionalId`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionalFailureResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key or content API not enabled for this team."
          },
          "404": {
            "description": "Transactional email not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionalFailureResponse"
                }
              }
            }
          },
          "405": {
            "description": "Wrong HTTP request method."
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      },
      "post": {
        "tags": ["Transactional emails"],
        "summary": "Update a transactional email",
        "description": "Update a transactional email by ID.",
        "x-mint": {
          "href": "/api-reference/update-transactional-email"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTransactionalRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transactional email updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionalResource"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or `transactionalId`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionalFailureResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key or content API not enabled for this team."
          },
          "404": {
            "description": "Transactional email not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionalFailureResponse"
                }
              }
            }
          },
          "405": {
            "description": "Wrong HTTP request method."
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/transactional-emails/{transactionalId}/draft": {
      "parameters": [
        {
          "name": "transactionalId",
          "in": "path",
          "required": true,
          "description": "The ID of the transactional email.",
          "schema": {
            "type": "string",
            "examples": ["cll42l54f20i1la0lfooe3z12"]
          }
        }
      ],
      "post": {
        "tags": ["Transactional emails"],
        "summary": "Ensure a draft email message",
        "description": "Ensure the transactional email has a draft email message. If a draft already exists it is returned unchanged; otherwise a new empty draft is created (seeded from the most recent published version when present). Use `POST /v1/email-messages/{emailMessageId}` to edit the draft's content.",
        "x-mint": {
          "href": "/api-reference/ensure-transactional-draft",
          "content": "If a draft email message already exists, it is returned unchanged. Otherwise a new empty draft is created (seeded from the most recent published version when present).\n\nUse the returned `draftEmailMessageId` and `draftEmailMessageContentRevisionId` when calling [Update an email message](/api-reference/update-email-message) to edit the draft's content.",
          "metadata": {
            "title": "Ensure a transactional email has a draft",
            "sidebarTitle": "Ensure draft",
            "description": "Ensure a transactional email has a draft email message ready for editing, creating one from the published version if no draft currently exists."
          }
        },
        "responses": {
          "200": {
            "description": "Draft ready.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionalDraftResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid `transactionalId` or no sending domain configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionalFailureResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key or content API not enabled for this team."
          },
          "404": {
            "description": "Transactional email not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionalFailureResponse"
                }
              }
            }
          },
          "405": {
            "description": "Wrong HTTP request method."
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/transactional-emails/{transactionalId}/publish": {
      "parameters": [
        {
          "name": "transactionalId",
          "in": "path",
          "required": true,
          "description": "The ID of the transactional email.",
          "schema": {
            "type": "string",
            "examples": ["cll42l54f20i1la0lfooe3z12"]
          }
        }
      ],
      "post": {
        "tags": ["Transactional emails"],
        "summary": "Publish a transactional email draft",
        "description": "Publish the transactional email's current draft email message. The draft becomes the published version and the draft is cleared.",
        "x-mint": {
          "href": "/api-reference/publish-transactional-email",
          "content": "The transactional email's current draft email message is published. The draft becomes the published version and the draft is cleared.\n\nAfter publishing, use the returned `id` as `transactionalId` with [Send a transactional email](/api-reference/send-transactional-email) to send the email.",
          "metadata": {
            "title": "Publish a transactional email",
            "sidebarTitle": "Publish transactional"
          }
        },
        "responses": {
          "200": {
            "description": "Transactional email published.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionalResource"
                }
              }
            }
          },
          "400": {
            "description": "Invalid `transactionalId`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionalFailureResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key or content API not enabled for this team."
          },
          "404": {
            "description": "Transactional email not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionalFailureResponse"
                }
              }
            }
          },
          "405": {
            "description": "Wrong HTTP request method."
          },
          "409": {
            "description": "No draft to publish.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionalFailureResponse"
                }
              }
            }
          },
          "422": {
            "description": "Draft failed validation, sending domain is not verified, or content was flagged as unsafe.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionalFailureResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/themes/{themeId}": {
      "parameters": [
        {
          "name": "themeId",
          "in": "path",
          "required": true,
          "description": "The ID of the theme.",
          "schema": {
            "type": "string",
            "examples": ["clt3u5v7w9x1y3z5a7b9c1d3"]
          }
        }
      ],
      "get": {
        "tags": ["Themes"],
        "summary": "Get a theme",
        "description": "Retrieve a single theme by ID.",
        "x-mint": {
          "href": "/api-reference/get-theme"
        },
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThemeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid `themeId`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThemeFailureResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key or content API not enabled for this team."
          },
          "404": {
            "description": "Theme not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThemeFailureResponse"
                }
              }
            }
          },
          "405": {
            "description": "Wrong HTTP request method."
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      },
      "post": {
        "tags": ["Themes"],
        "summary": "Update a theme",
        "description": "Update a theme's name and/or styles. When `styles` change, the update cascades to every email using this theme, and `affectedEmailCount` in the response reports how many emails were affected. Manual style edits made on individual emails are preserved: the cascade only changes properties an email has not overridden. A per-email override is removed only when it becomes identical to the theme's new value, after which that email follows the theme for that property.",
        "x-mint": {
          "href": "/api-reference/update-theme",
          "content": "When `styles` change, the update cascades to every email using this theme, and `affectedEmailCount` in the response reports how many emails were affected.\n\nManual style edits made on individual emails are preserved: the cascade only changes properties an email has not overridden. A per-email override is removed only when it becomes identical to the theme's new value, after which that email follows the theme for that property.",
          "metadata": {
            "description": "Update a theme's name and/or styles. Style changes cascade to every email using the theme."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateThemeBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateThemeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid `themeId` or request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThemeFailureResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key or content API not enabled for this team."
          },
          "404": {
            "description": "Theme not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThemeFailureResponse"
                }
              }
            }
          },
          "405": {
            "description": "Wrong HTTP request method."
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/themes": {
      "get": {
        "tags": ["Themes"],
        "summary": "List themes",
        "description": "Retrieve a paginated list of email themes, most recently created first.",
        "x-mint": {
          "href": "/api-reference/list-themes"
        },
        "parameters": [
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "description": "How many results to return in each request. Must be between 10 and 50. Default is 20.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "A cursor to return a specific page of results. Cursors can be found from the `pagination.nextCursor` value in each response.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListThemesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid `perPage` value.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThemeFailureResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key or content API not enabled for this team."
          },
          "405": {
            "description": "Wrong HTTP request method."
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      },
      "post": {
        "tags": ["Themes"],
        "summary": "Create a theme",
        "description": "Create a new email theme for use across Loops emails.",
        "x-mint": {
          "href": "/api-reference/create-theme"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateThemeBody"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Theme created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThemeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThemeFailureResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key or content API not enabled for this team."
          },
          "405": {
            "description": "Wrong HTTP request method."
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/components/{componentId}": {
      "parameters": [
        {
          "name": "componentId",
          "in": "path",
          "required": true,
          "description": "The ID of the component.",
          "schema": {
            "type": "string",
            "examples": ["clp2o4i6u8y0t5r3e1w7q9s1"]
          }
        }
      ],
      "get": {
        "tags": ["Components"],
        "summary": "Get a component",
        "description": "Retrieve a single component by ID.",
        "x-mint": {
          "href": "/api-reference/get-component"
        },
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComponentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid `componentId`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComponentFailureResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key or content API not enabled for this team."
          },
          "404": {
            "description": "Component not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComponentFailureResponse"
                }
              }
            }
          },
          "405": {
            "description": "Wrong HTTP request method."
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      },
      "post": {
        "tags": ["Components"],
        "summary": "Update a component",
        "description": "Update a component's name and/or body. When the `lmx` body changes, the update cascades to every email using this component, and `affectedEmailCount` reports how many were affected. A change that would introduce a dynamic variable an email using the component cannot use is rejected.",
        "x-mint": {
          "href": "/api-reference/update-component",
          "content": "When the `lmx` body changes, the update cascades to every email using this component, and `affectedEmailCount` reports how many were affected. A change that would introduce a dynamic variable an email using the component cannot use is rejected.",
          "metadata": {
            "description": "Update a component's name and/or LMX body. Body changes cascade to every email using the component."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateComponentBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateComponentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid `componentId` or request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComponentFailureResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key or content API not enabled for this team."
          },
          "404": {
            "description": "Component not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComponentFailureResponse"
                }
              }
            }
          },
          "405": {
            "description": "Wrong HTTP request method."
          },
          "413": {
            "description": "LMX body exceeds the size limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComponentFailureResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid LMX, or a body change that would break emails using the component.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComponentValidationFailureResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/components": {
      "get": {
        "tags": ["Components"],
        "summary": "List components",
        "description": "Retrieve a paginated list of email components.",
        "x-mint": {
          "href": "/api-reference/list-components"
        },
        "parameters": [
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "description": "How many results to return in each request. Must be between 10 and 50. Default is 20.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "A cursor to return a specific page of results. Cursors can be found from the `pagination.nextCursor` value in each response.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListComponentsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid `perPage` value.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComponentFailureResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key or content API not enabled for this team."
          },
          "405": {
            "description": "Wrong HTTP request method."
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      },
      "post": {
        "tags": ["Components"],
        "summary": "Create a component",
        "description": "Create a new email component from an LMX body.",
        "x-mint": {
          "href": "/api-reference/create-component"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateComponentBody"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Component created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComponentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComponentFailureResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key or content API not enabled for this team."
          },
          "405": {
            "description": "Wrong HTTP request method."
          },
          "413": {
            "description": "LMX body exceeds the size limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComponentFailureResponse"
                }
              }
            }
          },
          "422": {
            "description": "Invalid LMX.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComponentFailureResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/audience-segments/{audienceSegmentId}": {
      "parameters": [
        {
          "name": "audienceSegmentId",
          "in": "path",
          "required": true,
          "description": "The ID of the audience segment.",
          "schema": {
            "type": "string",
            "examples": ["cls6e8g0i2k4m6o8q0s2u4w6"]
          }
        }
      ],
      "get": {
        "tags": ["Audience segments"],
        "summary": "Get an audience segment",
        "description": "Retrieve a single audience segment by ID.",
        "x-mint": {
          "href": "/api-reference/get-audience-segment",
          "metadata": {
            "sidebarTitle": "Get a segment"
          }
        },
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceSegmentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid `audienceSegmentId`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceSegmentFailureResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key or content API not enabled for this team."
          },
          "404": {
            "description": "Audience segment not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceSegmentFailureResponse"
                }
              }
            }
          },
          "405": {
            "description": "Wrong HTTP request method."
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/audience-segments": {
      "get": {
        "tags": ["Audience segments"],
        "summary": "List audience segments",
        "description": "Retrieve a paginated list of audience segments, most recently created first.",
        "x-mint": {
          "href": "/api-reference/list-audience-segments",
          "metadata": {
            "sidebarTitle": "List segments"
          }
        },
        "parameters": [
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "description": "How many results to return in each request. Must be between 10 and 50. Default is 20.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "A cursor to return a specific page of results. Cursors can be found from the `pagination.nextCursor` value in each response.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAudienceSegmentsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid `perPage` value.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceSegmentFailureResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key or content API not enabled for this team."
          },
          "405": {
            "description": "Wrong HTTP request method."
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      },
      "post": {
        "tags": ["Audience segments"],
        "summary": "Create an audience segment",
        "description": "Create a new audience segment.",
        "x-mint": {
          "href": "/api-reference/create-audience-segment",
          "metadata": {
            "sidebarTitle": "Create a segment"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAudienceSegmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Audience segment created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceSegmentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body, a name already used by another segment, or a filter with too many conditions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceSegmentFailureResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key or content API not enabled for this team."
          },
          "404": {
            "description": "The filter references a campaign, workflow or workflow email that does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceSegmentFailureResponse"
                }
              }
            }
          },
          "405": {
            "description": "Wrong HTTP request method."
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/campaigns": {
      "get": {
        "tags": ["Campaigns"],
        "summary": "List campaigns",
        "description": "Retrieve a paginated list of campaigns.",
        "x-mint": {
          "href": "/api-reference/list-campaigns"
        },
        "parameters": [
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "description": "How many results to return in each request. Must be between 10 and 50. Default is 20.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "A cursor to return a specific page of results. Cursors can be found from the `pagination.nextCursor` value in each response.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCampaignsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid `perPage` value.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignFailureResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key or content API not enabled for this team."
          },
          "405": {
            "description": "Wrong HTTP request method."
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      },
      "post": {
        "tags": ["Campaigns"],
        "summary": "Create a campaign",
        "description": "Create a new draft campaign. An empty email message is created automatically and its `emailMessageId` is returned. Use the `/email-messages/{emailMessageId}` endpoint to set subject, sender, preview text, and LMX content. The audience (mailing list, segment, or filter), group, and scheduling can be set on create or later via update.",
        "x-mint": {
          "href": "/api-reference/create-campaign",
          "metadata": {
            "description": "Create a draft marketing campaign and its associated email message."
          },
          "content": "This endpoint creates a draft campaign and an empty email message in one step. Use the returned `emailMessageId` with [Update an email message](/api-reference/update-email-message) to set subject, sender, preview text, and LMX content.\n\n The audience (mailing list, segment, or filter), group, and scheduling can be set on create or later via [Update a campaign](/api-reference/update-campaign).\n\n<Tip>To send a test preview of a campaign, use the [Preview email message](/api-reference/preview-email-message) endpoint.</Tip>"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCampaignRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Campaign created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCampaignResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body, campaign group not found, or no sending domain configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignFailureResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key or content API not enabled for this team."
          },
          "404": {
            "description": "Referenced mailing list or audience segment not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignFailureResponse"
                }
              }
            }
          },
          "405": {
            "description": "Wrong HTTP request method."
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/campaigns/{campaignId}": {
      "parameters": [
        {
          "name": "campaignId",
          "in": "path",
          "required": true,
          "description": "The ID of the campaign.",
          "schema": {
            "type": "string",
            "examples": ["clc4m6n8p0q2r4s6t8u0v2x4"]
          }
        }
      ],
      "get": {
        "tags": ["Campaigns"],
        "summary": "Get a campaign",
        "description": "Retrieve a single campaign by ID.",
        "x-mint": {
          "href": "/api-reference/get-campaign"
        },
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid `campaignId`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignFailureResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key or content API not enabled for this team."
          },
          "404": {
            "description": "Campaign not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignFailureResponse"
                }
              }
            }
          },
          "405": {
            "description": "Wrong HTTP request method."
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      },
      "post": {
        "tags": ["Campaigns"],
        "summary": "Update a campaign",
        "description": "Update a draft campaign's name, group, audience (mailing list, segment, or filter), or scheduling. At least one field must be provided. Campaigns can only be updated while in draft status.",
        "x-mint": {
          "href": "/api-reference/update-campaign",
          "metadata": {
            "description": "Update a draft campaign's name, group, audience (mailing list, segment, or filter), or scheduling."
          },
          "content": "<Info>Campaigns can only be updated while they are in `Draft` status. At least one field must be provided.</Info>"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCampaignRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or campaign group not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignFailureResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key or content API not enabled for this team."
          },
          "404": {
            "description": "Campaign, mailing list, or audience segment not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignFailureResponse"
                }
              }
            }
          },
          "405": {
            "description": "Wrong HTTP request method."
          },
          "409": {
            "description": "Campaign is not in draft status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignFailureResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/email-messages/{emailMessageId}": {
      "parameters": [
        {
          "name": "emailMessageId",
          "in": "path",
          "required": true,
          "description": "The ID of the email message.",
          "schema": {
            "type": "string",
            "examples": ["cle5f7g9h1i3j5k7l9m1n3p5"]
          }
        }
      ],
      "get": {
        "tags": ["Email messages"],
        "summary": "Get an email message",
        "description": "Retrieve an email message, including its compiled LMX content.",
        "x-mint": {
          "href": "/api-reference/get-email-message",
          "metadata": {
            "sidebarTitle": "Get an email"
          }
        },
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailMessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid `emailMessageId` or no sending domain configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailMessageFailureResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key or content API not enabled for this team."
          },
          "404": {
            "description": "Email message not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailMessageFailureResponse"
                }
              }
            }
          },
          "405": {
            "description": "Wrong HTTP request method."
          },
          "409": {
            "description": "Email message uses MJML format or content cannot be parsed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailMessageFailureResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      },
      "post": {
        "tags": ["Email messages"],
        "summary": "Update an email message",
        "description": "Update fields on an email message (subject, preview text, sender, LMX content). The campaign must be in draft status. Supply `expectedRevisionId` matching the current `contentRevisionId` — the server rejects mismatched revisions with 409.",
        "x-mint": {
          "href": "/api-reference/update-email-message",
          "metadata": {
            "description": "Update an email message's subject, preview text, sender, or LMX content.",
            "sidebarTitle": "Update an email"
          },
          "content": "Supply `expectedRevisionId` matching the current `contentRevisionId`.\n\n<Info>The campaign or transactional email that owns this email message must be in `Draft` status..</Info>"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEmailMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email message updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailMessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailMessageFailureResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key or content API not enabled for this team."
          },
          "404": {
            "description": "Email message not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailMessageFailureResponse"
                }
              }
            }
          },
          "405": {
            "description": "Wrong HTTP request method."
          },
          "409": {
            "description": "Campaign is not in draft status, `contentRevisionId` is stale, content cannot be parsed, or email message uses MJML format.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailMessageFailureResponse"
                }
              }
            }
          },
          "413": {
            "description": "LMX payload exceeds the 100KB limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailMessageFailureResponse"
                }
              }
            }
          },
          "422": {
            "description": "LMX failed to compile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailMessageFailureResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/email-messages/{emailMessageId}/preview": {
      "parameters": [
        {
          "name": "emailMessageId",
          "in": "path",
          "required": true,
          "description": "The ID of the email message.",
          "schema": {
            "type": "string",
            "examples": ["cle5f7g9h1i3j5k7l9m1n3p5"]
          }
        }
      ],
      "post": {
        "tags": ["Email messages"],
        "summary": "Send a preview of an email message",
        "description": "Send a test preview of an email message to one or more addresses. The accepted variable fields depend on the parent's type - campaign previews accept `contactProperties`, workflow previews accept `contactProperties` and `eventProperties`, and transactional previews accept `dataVariables`. Supplying a field the parent cannot reference is rejected with 400.",
        "x-mint": {
          "href": "/api-reference/preview-email-message",
          "content": "Send a test email message to one or more addresses. Accepted variable fields depend on the parent's type:\n\n- **Campaign** accepts `contactProperties`.\n- **Workflow** accepts `contactProperties` and `eventProperties`.\n- **Transactional** accepts `dataVariables`.\n\nSupplying a field the parent cannot reference results in a `400 Bad Request` error.\n\nEach team can send up to 100 preview emails per day.",
          "metadata": {
            "description": "Send a test preview of an email message to one or more addresses.",
            "sidebarTitle": "Preview email"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailMessagePreviewRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Preview scheduled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailMessagePreviewResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body, or a variable field the parent cannot reference.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailMessageFailureResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key or content API not enabled for this team."
          },
          "404": {
            "description": "Email message not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailMessageFailureResponse"
                }
              }
            }
          },
          "405": {
            "description": "Wrong HTTP request method."
          },
          "429": {
            "description": "The daily preview limit was reached.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailMessageFailureResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/email-messages/{emailMessageId}/guardian": {
      "parameters": [
        {
          "name": "emailMessageId",
          "in": "path",
          "required": true,
          "description": "The ID of the email message.",
          "schema": {
            "type": "string",
            "examples": ["cle5f7g9h1i3j5k7l9m1n3p5"]
          }
        }
      ],
      "get": {
        "tags": ["Email messages"],
        "summary": "Run Guardian checks on an email message",
        "description": "Validate an email message's content against Guardian rules and return any errors and warnings. Errors must be resolved before the email can be published, warnings are advisory.",
        "x-mint": {
          "href": "/api-reference/run-guardian-checks",
          "content": "Run the same [Guardian](/creating-emails/guardian) checks that run in the Loops editor on a saved email message. Use this to validate campaign, workflow, and transactional email content before publishing or sending.\n\nChecks depend on the email message's parent type:\n\n- **Campaign** validates contact properties and rendered links and buttons.\n- **Workflow** validates contact properties, event properties from the workflow's event trigger, and rendered links and buttons.\n- **Transactional** validates data variables and rendered links and buttons.\n- **System transactional** validates required data variables and rendered links and buttons.\n\n<Info>This will not work on MJML email messages, as they are not supported in the API.</Info>",
          "metadata": {
            "description": "Run Guardian content validation on an email message and return errors and warnings before you publish or send.",
            "sidebarTitle": "Guardian checks"
          }
        },
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailMessageGuardianResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid `emailMessageId`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailMessageFailureResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key or content API not enabled for this team."
          },
          "404": {
            "description": "Email message not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailMessageFailureResponse"
                }
              }
            }
          },
          "405": {
            "description": "Wrong HTTP request method."
          },
          "409": {
            "description": "Email message uses MJML format.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailMessageFailureResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/workflows": {
      "get": {
        "tags": ["Workflows"],
        "summary": "List workflows",
        "operationId": "listWorkflows",
        "description": "Retrieve a paginated list of workflows.",
        "x-mint": {
          "href": "/api-reference/list-workflows"
        },
        "parameters": [
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "description": "How many results to return in each request. Must be between 10 and 50. Default is 20.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "A cursor to return a specific page of results. Cursors can be found from the `pagination.nextCursor` value in each response.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListWorkflowsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid `perPage` or `cursor` value.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowFailureResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key or workflow API not enabled for this team."
          },
          "405": {
            "description": "Wrong HTTP request method."
          }
        },
        "security": [{ "apiKey": [] }]
      },
      "post": {
        "tags": ["Workflows"],
        "summary": "Create a workflow",
        "operationId": "createWorkflow",
        "description": "Create a draft workflow with a blank trigger and exit node.",
        "x-mint": {
          "href": "/api-reference/create-workflow"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWorkflowRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workflow created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimplifiedWorkflow"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowFailureResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key or workflow API not enabled for this team."
          },
          "405": {
            "description": "Wrong HTTP request method."
          },
          "500": {
            "description": "Workflow creation is unavailable for this team.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowFailureResponse"
                }
              }
            }
          }
        },
        "security": [{ "apiKey": [] }]
      }
    },
    "/v1/workflows/{workflowId}": {
      "parameters": [
        {
          "name": "workflowId",
          "in": "path",
          "required": true,
          "description": "The ID of the workflow.",
          "schema": {
            "type": "string",
            "examples": ["clw1a3b5c7d9e1f3g5h7i9j1"]
          }
        }
      ],
      "get": {
        "tags": ["Workflows"],
        "summary": "Get a workflow",
        "operationId": "getWorkflow",
        "description": "Retrieve a workflow graph with node type names, connections, and selected display fields.",
        "x-mint": {
          "content": "Returns a simplified view of the workflow graph. Each node includes its `typeName`, outgoing connections in `nextNodeIds`, and selected display fields. Use [Get a workflow node](/api-reference/get-workflow-node) to retrieve full details for a single node.",
          "href": "/api-reference/get-workflow"
        },
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimplifiedWorkflow"
                }
              }
            }
          },
          "400": {
            "description": "Invalid `workflowId`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowFailureResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key or workflow API not enabled for this team."
          },
          "404": {
            "description": "Workflow not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowFailureResponse"
                }
              }
            }
          },
          "405": {
            "description": "Wrong HTTP request method."
          }
        },
        "security": [{ "apiKey": [] }]
      },
      "post": {
        "tags": ["Workflows"],
        "summary": "Update a workflow",
        "operationId": "updateWorkflowProperties",
        "description": "Update a workflow's display properties. At least one property must be provided. To change the workflow's mailing list, use the `POST /v1/workflows/{workflowId}/mailing-list` endpoint instead.",
        "x-mint": {
          "href": "/api-reference/update-workflow",
          "content": "<Info>To change a workflow's mailing list, use the [Change workflow mailing list](/api-reference/change-workflow-mailing-list) endpoint instead. This is because changing mailing lists may remove queued contacts from the workflow.</Info>",
          "metadata": {
            "description": "Update a workflow's display properties."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWorkflowPropertiesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workflow properties updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimplifiedWorkflow"
                }
              }
            }
          },
          "400": {
            "description": "Invalid `workflowId` or request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowFailureResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key or workflow API not enabled for this team."
          },
          "404": {
            "description": "Workflow not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowFailureResponse"
                }
              }
            }
          },
          "409": {
            "description": "`expectedRevisionId` is stale.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowFailureResponse"
                }
              }
            }
          },
          "405": {
            "description": "Wrong HTTP request method."
          }
        },
        "security": [{ "apiKey": [] }]
      }
    },
    "/v1/workflows/{workflowId}/mailing-list": {
      "parameters": [
        {
          "name": "workflowId",
          "in": "path",
          "required": true,
          "description": "The ID of the workflow.",
          "schema": { "type": "string" }
        }
      ],
      "post": {
        "tags": ["Workflows"],
        "summary": "Change workflow mailing list",
        "operationId": "changeWorkflowMailingList",
        "description": "Dry run or apply a workflow mailing list change. If queued contacts would be removed from the workflow due to the change of mailing list, Loops returns with `\"status\": \"queuedContactsFound\"` instead of applying the change. Retry with `queuedContactPolicy: \"discard\"` to apply the change and discard those contacts.",
        "x-mint": {
          "href": "/api-reference/change-workflow-mailing-list",
          "content": "Use this endpoint to change a workflow's mailing list.\n\nMake a dry run request using `dryRun: true`.\n\nIf queued contacts would be removed from the workflow due to the change of mailing list, Loops returns with `\"status\": \"queuedContactsFound\"` instead of applying the change. Retry with `queuedContactPolicy: \"discard\"` to apply the change and discard those contacts.",
          "metadata": {
[...]
